.header {
  &__title {
    color: $COLOR_MAIN !important;
    text-decoration: none !important;
  }
}

.footer {
  &__notes {
    margin: 5px 0 5px 0;
  }

  &__copyright {
    border-top: 1px solid $COLOR_MAIN;
    padding: 30px 0 30px 0;
  }
}

.main-visual {
  height: 300px;
  width: 100%;
  background-color: #2a3b48;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    color: white;
    text-align: center;
  }

  &__btn {
    color: white !important;
    text-align: center;
  }
}
