.top {
  .tag-wrap {
    padding: 10px 16px 60px 16px;
  }

  .tag {
    margin: 5px;
    padding: 0 5px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #f83;
    border-radius: 5px;
  }

  .card-footer {
    position: absolute;
    padding: 10px;
    bottom: 0;
    right: 0;

    p {
      margin: 0;
    }
  }
}
