:root {
  @media (prefers-color-scheme: light) {
    --color-base: white;
    --color-main: black;
  }

  @media (prefers-color-scheme: dark) {
    --color-base: black;
    --color-main: white;
  }
}

$COLOR_BASE: var(--color-base);
$COLOR_MAIN: var(--color-main);
