@import 'variables';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.blogs {
  .html {
    * {
      @apply break-all;
    }

    @apply bg-white rounded-lg p-3 md:p-8;

    h1 {
      @apply text-2xl md:text-3xl my-2 py-1 font-bold border border-t-0 border-r-0 border-l-0;
    }

    h2 {
      @apply text-xl md:text-2xl my-2 py-1 font-bold border border-t-0 border-r-0 border-l-0;
    }

    h3 {
      @apply text-lg md:text-xl my-2 py-1 font-bold border border-t-0 border-r-0 border-l-0;
    }

    ul {
      @apply list-disc list-inside;
    }

    a {
      @apply text-href;
    }

    pre {
      .file-name {
        background-color: #777;
        color: white;
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
        padding: 3px 6px;
        position: relative;
        top: 25px;
      }

      code {
        padding-top: 30px !important;
      }
    }
  }
}
